* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
}

.wrapper {
  /* border: 2px solid red; */
  height: 100vh;
}

.alice-queen {
  position: absolute;
  top: 23%;
  left: 22%;
  height: 39rem;
  overflow: hidden;
  z-index: 1;
}

.sky {
  background: url("https://thumbs.dreamstime.com/b/overcast-cloudy-sky-slightly-blueish-95790814.jpg");
  background-size: cover;
  height: 50vh;
  background-position-x: -100%;
  /* background-repeat: repeat-x; */
}
.ground {
  display: flex;
  transform: translateX(-141rem);
}
.ground-2 {
  width: 100rem;
  transform: translateY(-12rem);
}
.raining {
  position: absolute;
  top: 0;
  display: flex;
}
.clouds {
  position: absolute;
  top: 0;
  display: flex;
}
.clouds .lightning-cloud {
  width: 19rem;
}
.clouds .cloud {
  width: 22rem;
  height: 9rem;
}
/* ############# background styling ##############  */
.background {
  position: absolute;
  top: 0%;
  left: 0%;
  /* border: 2px solid red; */
  transform: translateX(140rem);
  /* -380 rem max  140 rem min*/
}

.palm-1,
.palm-2,
.palm-3,
.r-knight,
.r-pawn,
.r-pawn-upright,
.w-rook,
.w-rook-upright,
.bush {
  position: absolute;
}

.palm-1 {
  top: 24rem;
  left: 23rem;
}
.palm-2 {
  top: 3rem;
  left: 74rem;
}
.palm-3 {
  top: 2rem;
  left: 100rem;
  z-index: 2;
}
.r-knight {
  top: 10rem;
  left: 156rem;
}

.r-pawn {
  top: 37rem;
  left: 191rem;
}

.r-pawn-upright {
  top: 17rem;
  left: 238rem;
}
.bush {
  top: 52rem;
  left: 188rem;
}
.w-rook {
  top: 29rem;
  left: 290rem;
}
.w-rook-upright {
  top: 12rem;
  left: 344rem;
}
